{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "require-jsdoc": "off",
        "indent": ["warn", 3],
        "arrow-parens":"off",
        "comma-dangle":"off",
        "eol-last": "off",
        "object-curly-spacing":"off",
        "space-before-function-paren": "off",
        "no-unused-vars": "warn",
        "prefer-rest-params": "warn",
        "no-invalid-this": "warn",
        "no-extend-native": "warn",
        "keyword-spacing": "warn",
        "operator-linebreak": "off",
        "no-debugger": "warn",
        "no-trailing-spaces": "off",
        "no-empty": "warn",
        "linebreak-style": "off",
        "array-bracket-spacing": "warn",
        "semi": "warn",
        "max-len": ["warn",  90],
        "spaced-comment": "warn",
        "no-useless-escape": "off",
        "guard-for-in": "off"
    },
    "extends": [
        "eslint:recommended",
        "google"
    ]
}