@import 'variables';
@import 'mixins';

.excel__table {
   position: absolute;
   left: 0;
   right: 0;
   top: $header-height + $toolbar-height + $formula-height;
   overflow-x: auto;
   padding-bottom: 2px;

   .row {
      display: flex;
      flex-direction: row;
      height: $row-height;
      min-height: $min-height-row;
   }

   .row-info {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: $info-cell-width;
      height: 100%;
      border: 1px solid $border-color;
      background: #f8f9fa;
      border-top: none;
   }

   .row-data {
      display: flex;
   }

   .column {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f8f9fa;
      min-width: $min-width-col;
      width: $cell-width;
      border: 1px solid $border-color;
      border-top: 0;
      border-left: 0;
      height: 100%;
   }

   .cell {
      min-width: $min-width-col;
      padding: 5px;
      width: $cell-width;
      height: 100%;
      border: 1px solid #e2e3e3;
      border-top: 0;
      border-left: 0;
      color: #111;
      white-space: nowrap;
      outline: none;
      min-height: $min-height-row;

      &.selected {
         border: none;
         outline: 2px solid $primary-color;
         z-index: 2;
      }
   }

   .col-resize, .row-resize {
      position: absolute;
      bottom: 0;
      right: 0;
      background: $primary-color;
      opacity: 0;

      &:hover {
         opacity: 1;
      }
      &.lines {
         opacity: 1;
      }
      &.lines:after {
         position: absolute;
         display: block;
         content: '';
         background: #3c74ff;
      }
   }

   .col-resize {
      top: 0;
      width: 4px;
      height: calc(100% + 1px);

      &:hover {
         cursor: col-resize;
      }
      &.lines:after {
         top: 0;
         right: 0;
         width: 1px;
         height: calc(100vh - 100px);
      }
   }

   .row-resize {
      left: 0;
      height: 4px;
      bottom: -1px;

      &:hover {
         cursor: row-resize;
      }
      &.lines:after {
         bottom: 0;
         left: 0;
         width: 100vw;
         height: 1px;
      }
   }

}
